{% extends 'base.html' %}


{% block content %}

<h1>Create</h1>

{% if error %}

{{ error }}

{% endif %}


<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
    {% csrf_token %}

 Title 
 <br>
<input type="text" name="title" >
<br>



Body:
<br>
<input type="textarea" name="body" >
<br>

URL
<br>  
<input type="text" name="url" >
<br>

<br>

Icon
<br>  
<input type="file" name="icon" >
<br>

<br>


Image
<br>  
<input type="file" name="image" >
<br>

<br>


<input type="submit" class="btn btn-primary" value="Add product">

</form>



{% endblock %}



