{% extends 'base.html' %}


{% block content %}



{% for product in productsfromdb.all %}

<div class="row pt-3">
        <div class="col-2"  style="cursor:pointer" onclick="window.location='{% url 'detail' product.id %}';" >
    <img src="{{ product.icon.url }}" class="img-fluid">
    
        </div>
    
        <div class="col-6">
    
    <h1>{{product.title}}</h1>
    <p>{{product.summary}}</p>
    
        </div>
    
    
        <div class="col-4">
                <a href="javascript:{document.getElementById('upvote{{product.id}}').submit()}"><button class="btn btn-primary">Upvote {{product.votes_total}}</button></a>

               
                
                    </div>
                    <form id="upvote{{product.id}}" method="POST" action="{% url 'upvote' product.id %}" >
                            {% csrf_token %}
                            <input type="hidden">
                    
   



{% endfor %}








{% endblock %}



